// Place all the styles related to the api/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-reservations {
  width: 90%;
  margin: 0 auto;
}

.user-profile-section {
  background-color: #fff;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.user-profile-section > * {
}

.user-profile-section > h2 {
  border-bottom: 1px solid #DDDBE0;
  font-size: 24px;
  padding: 24px;
}

.user-profile-section:first-of-type {
  margin-top: 16px;
}

.user-reservation-item {
  display: flex;
  flex-direction: row;
  padding: 24px;
  border-bottom: 1px solid #DDDBE0;
  box-sizing: border-box;
}

.user-reservation-item > * {
  margin-right: 32px;
}

.user-reservation-item button {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #DDDBE0;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  background-color: #DA3743;
  transition: background-color 0.25s ease;
}

.user-reservation-item button:hover {
  background-color: #B8222D;
  cursor: pointer;
}

.user-reservation-restaurant-icon {
  min-height: 80px;
  min-width: 80px;
  box-sizing: content-box;
  border-radius: 5px;
  background: image-url("restaurant_default.jpg") no-repeat;
  background-size: contain;
}

.user-reservation-details > * {
  margin-bottom: 5px;
}

.user-reservation-details > a {
  display: block
}

.user-reservation-name {
  text-decoration: none;
  color: black;
}

.create-review-link {
  color: #D5767D;
  text-decoration: underline;
}
