// Place all the styles related to the api/restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-show {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-show-header-content {
  color: #fff;
  background-color: #5C5243;
  padding: 80px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-header-icon {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background: image-url("restaurant_default.jpg");
  background-size: contain;
}

.restaurant-header-name {
  font-size: 30px;
  align-self: flex-start;
}

.restaurant-header-favorite {
  padding: 15px;
  background-color: transparent;
  outline: none;
  border: 1px solid grey;
  color: #fff;
  font-size: 16px;
  align-self: flex-end;
}

.restaurant-header-favorite:hover {
  cursor: pointer;
}

.restaurant-show > div {
  width: 90%;
  box-sizing: border-box;
}

.restaurant-show > div:first-of-type {
  width: 100%;
}

.restaurant-show-body > div:first-of-type {
  margin-top: 32px;
}

.restaurant-show-body > div > h3 {
  font-size: 24px;
  border-bottom: 1px solid #DDDBE0;
}

.restaurant-show-body-divs {
  background-color: #fff;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.restaurant-show-body-divs > * {
  padding: 24px;
}

.restaurant-detail-info {
  display: flex;
}

.restaurant-detail-info > * {
  box-sizing: border-box;
  flex-basis: 100%;
  line-height: 24px;
}

.span-bold{
  font-weight: bold;
}

.span-bold > i {
  padding-right: 5px;
}

.restaurant-detail-info > *:first-child {
  padding-right: 26px;
}

.map-container {
  height: 300px;
  width: 100%;
  box-sizing: border-box;
}








// RESTAURANT RESULTS CSS





.search-restaurants-results-div{
  padding-top: 24px;
  width: 100%
}
.search-restaurants-results-content{
  margin: 0 auto;
  width: 90%;
  margin-top: 32px;
}
.search-restaurants-results{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-restaurants-results-content {
  border: 1px solid black;
}

.search-restaurants-results-content > h2{
  padding: 24px;
  background-color: #fff;
  border-bottom: 1px solid #DDDBE0;
  font-size: 24px;
}

.search-restaurant-result{
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #DDDBE0;
}

.search-restaurant-result > * {
  margin-right: 32px;
}

.restaurant-results-restaurant-icon{
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background: image-url("restaurant_default.jpg");
  background-size: contain;
}
