// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.div-session-form {
}

.session-form {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-form > * {
  width: 90%;
}

.session-form > h3 {
  font-size: 24px;
  border-bottom: 1px solid #DDDBE0;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.session-form > input {
  margin-bottom: 10px;
  border: 1px solid #DDDBE0;
  border-radius: 3px;
  padding: 16px;
  font-size: 14px;
  text-align: left;
  box-sizing: border-box;
}

.session-form > button {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #DDDBE0;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 20px;
  background-color: #DA3743;
  transition: background-color 0.25s ease;
}

.session-form > button:hover {
  background-color: #B8222D;
  cursor: pointer;
}

.session-form-errors {
  color: red;
}

.session-form-errors > li {
  margin: 5px;
}

.errors-div {
  width: 90%;
  padding-bottom: 10px
}
