/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "reset.scss";

body {
  background-color: #F7F7F7;
}
.site-bar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.site-bar-greeting * {
  margin-right: 5px;
}

.site-bar-greeting > a {
  text-decoration: none;
}

.site-bar-signup {
  font-size: 14px;
  font-weight: 100;
  padding: 7px 15px 7px 15px;
  background-color: #107985;
  border-radius: 5px;
  color: white;
  transition: background-color 0.25s ease;
}

.site-bar-signup:hover {
  background-color: #0C5A63;
  cursor: pointer;
}

.site-bar-login {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  color: #3C3C3D;
  transition: background-color 0.25s ease;
}

.site-bar-login:hover {
  color: black;
  cursor: pointer;
}

.site-bar-logout {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  color: #3C3C3D;
  transition: background-color 0.25s ease;
}

.site-bar-logout:hover {
  color: black;
  cursor: pointer;
}

.site-bar-logo {
  height: 30px;
  width: 176px;
  background: image-url("logo-scale.png");
  background-repeat: no-repeat;
}

.home-img-div {
  height: 353px;
  background: image-url("home-img-cropped.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.search-restaurants-form-div {
  position: absolute;
  top: 320px;
  left: 50px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.search-restaurants-form-div > * {
  width: 90%;
  padding: 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

.search-restaurants-form-div > h2 {
  font-size: 32px;
}
#modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0,0,0, 0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999999999;

}
